node_modules/
.next/
.DS_Store
.render_text_bin
.generation_running
output/
/tmp/
*.local
stock_videos/
music/
long_video/
endscreen/
*.mp4
*.mov
*.mp3
*.wav
*.m4a
stock_videos/Content
stock_videos/
endscreen/*.mp4
output/*.mp4
music/*.wav
music/*.mp3
